/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
ul {
  list-style-type: none;
}




/* .container{

    white-space:nowrap;
    overflow-x:auto;


}

.box{
    width:100px;
    height:180px;
    margin:10px;
    display:flex;
} */
