/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
ul {
  list-style-type: none;
}




 .profile-area{

    /* white-space:nowrap;
    overflow-x:auto; */
    display: flex;


}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-left: 1rem;
}
/*
.box{
    width:100px;
    height:180px;
    margin:10px;
    display:flex;
} */
