/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
ul {
  list-style-type: none;
}


.btn-margin {
  display: flex;
  border-radius: 40px;
  padding: .3rem 1rem;
  align-items:  center;
  justify-content: space-around;
  min-width: 130px;
}


.profile-img {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 0 auto;

}
.MuiToolbar-root-52 {
  display: flex;
  justify-content: space-between;
}

.current-title{
  text-align: center;
}
/*
.box{
    width:100px;
    height:180px;
    margin:10px;
    display:flex;
} */
