@media only screen and (max-width: 500px) {

h1{
  border-bottom: 1px solid gray;
  text-align: center;
}

div#list-item{
  width: 20em;
}

.MuiButtonBase-root-60.MuiListItem-root-119.MuiListItem-default-122.MuiListItem-gutters-126.MuiListItem-button-127{
  width: 20em;
}

h1#watched{
  margin-left: 1em;
}

h1#released{
  margin-left: 1.8em;
}
}
