body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


@media only screen and (min-width: 414px) {

 #header{
    height: 4.9em;
    margin-bottom: 1em;
    border: 2px solid yellow;
    background-color: blue;
  }

  #headerBackground{
    height: 4.5em;
    width: 30.1em;
  }

  /* .Searchbar{
    width: 10em;
    padding-top: 1em;
    margin-bottom: 1em;
  } */

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    border: 2px solid blue;
  }

#headline{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
  }

  /* h2{
    padding-left: .5em;
    font-size:2em;
    margin-left:.3em;
    border-bottom: 2px solid gray;
  } */

  li{
    list-style-type: none;
  }

  .GallerySliderVideo{
    margin: auto 0;
    border: 1px solid black;
    width: 100%;
    height: 15em;
    margin-bottom: 2em;
  }

  .video-list{
    border: 1px solid yellow;
    width: 100%;
  }

  .sResults{
    color: black;
    width: 23em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
    margin-left: 1em;
    text-align: center;
  }

  .image{
    width: 100%;
    height: 15em;
  }
}

/* @media only screen and (min-width: 768px) {
  #header{
    height: 4.9em;
    margin-bottom: 1em;
    border: 2px solid yellow;
    background-color: orange;
    background-image: image("background.jpg");
  }

  #headerBackground{
    height: 4.5em;
    width: 14.1em;
  }

  .Searchbar{
    width: 23.1em;
    padding-top: 1em;
    margin-bottom: 1em;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    border: 2px solid blue;
  }

  h1{
    margin-left: .3em;
    font-size: 2em;
    border-bottom: 1px solid gray;
  }

  h2{
    padding-left: .5em;
    font-size:2em;
    margin-left:.3em;
    border-bottom: 2px solid gray;
  }

  li{
    list-style-type: none;
  }

  .GallerySliderVideo{
    margin: auto 0;
    border: 1px solid yellow;
    width: 48em;
    height: 15em;
  }

  .video-list{
    width: 20em;
    border: 1px solid yellow;
    display: flex;
  }

  .results{
    border: 1px solid orange;
    width: 23.1em;
  }

  .sResults{
    border: 1px solid black;
    background-color: black;
    opacity: .7;
    color: white;
    width: 23.1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 1em;
    text-align: center;
  }

  .image{
    border: 1px solid blue;
    width: 23.1em;
    height: 15em;
}

a{
  width: .1em;
  height: .1em;
  border: 1px solid red;
}
} */
