body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

.MuiToolbar-root-45 {
  background-color: #fff;
  color: #888;
  height: 2px;
}

.nav-bar {
  height: 20px;
}

.search-bar {
  display: inline-block;
  margin-top: 40px;
  width: 80%;
}

.logo {
  height: 55px;
}
.MiniDrawer-content-9 {
  padding-top: 10px;
}
